:root{
    --black: #000;
    --darkest: #060606;
    --darker: #131313;
    --dark: #313131;
    --gray: #787878;
    --light: #bfbfbf;
    --lighter: #ddd;
    --lightest: #eaeaea;
    --white: #f1f1f1;
    --red: #c53943;
    --green: #39c575;
    --orange: #f96;
    --blue: #3989c5;
    --indigo: #3943c5;
    --leek: #39c5bb;
    --pink: #ff6680;
    --lime: #6f9;
    --yellow: #ffe666;
    --sky: #6cf;
    --purple: #a68cd9;
    --cyan: #66ffe6;
}